{% block navbar %}
	<ul>
		<li>
			<a href="http://">Accueil</a>
			<a href="http://">Contact</a>
			<a href="http://">Furkan</a>
			<a href="http://">Karad</a>
			<a href="http://">Quete</a>
		</li>
	</ul>
{% endblock %}
